body{
    background-color: #352f4b;
}
.container{
    max-width: 400px;
}
input[type=text],
input[type=text]:focus{
    color: white;
    border: none;
    background: rgba(190, 157, 157, 0.2);
    max-width: 400px;
}

button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  margin: 10px 0 0;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
button:hover {
  color: #333;
}

.todos li{
    background: #4d4370;
}
.delete {
    cursor: pointer;
}
.filtered{
    display: none !important;
}